
.body {
  width: 80%;
  margin: auto;
}

.img_cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img {
  margin-bottom: 10%;
  height: 300px;
  width: 300px;
}

img {
  width: 100%;
  height: auto;
}

.button_cont {
  margin-left: 100%;
}

.price_cont {
  display: flex;
  justify-content: space-between;
}
